#content-main {
    background: #F7F7F7;
}

.left-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul {
    list-style: none;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5em;
}

.left-menu {
    width: 255.58px;
    display: flex;
    flex-direction: column;
    min-height: 100vH;
    z-index: 10;
}

.logo {
    width: 255.58px;
}

@media (min-width: 768px) and (max-width: 790px) {
    .logo {
        width: 286.58px;
    }
}

@media (min-width: 791px) and (max-width: 815px) {
    .logo {
        width: 282.58px;
    }
}

@media (min-width: 816px) and (max-width: 839px) {
    .logo {
        width: 280.58px;
    }
}

@media (min-width: 840px) and (max-width: 859px) {
    .logo {
        width: 279.58px;
    }
}

@media (min-width: 860px) and (max-width: 866px) {
    .logo {
        width: 277.58px;
    }
}

@media (min-width: 867px) and (max-width: 870px) {
    .logo {
        width: 276.58px;
    }
}

@media (min-width: 871px) and (max-width: 888px) {
    .logo {
        width: 275.58px;
    }
}

@media (min-width: 889px) and (max-width: 898px) {
    .logo {
        width: 274.58px;
    }
}

@media (min-width: 899px) and (max-width: 909px) {
    .logo {
        width: 273.58px;
    }
}

@media (min-width: 910px) and (max-width: 920px) {
    .logo {
        width: 272.58px;
    }
}

@media (min-width: 921px) and (max-width: 932px) {
    .logo {
        width: 271.58px;
    }
}

@media (min-width: 933px) and (max-width: 956px) {
    .logo {
        width: 269.58px;
    }
}

@media (min-width: 957px) and (max-width: 982px) {
    .logo {
        width: 267.58px;
    }
}

@media (min-width: 983px) and (max-width: 1010px) {
    .logo {
        width: 265.58px;
    }
}

@media (min-width: 1010px) and (max-width: 1041px) {
    .logo {
        width: 263.58px;
    }
}

@media (min-width: 1042px) and (max-width: 1073px) {
    .logo {
        width: 261.58px;
    }
}

@media (min-width: 1074px) and (max-width: 1108px) {
    .logo {
        width: 259.58px;
    }
}

@media (min-width: 1109px) and (max-width: 1127px) {
    .logo {
        width: 256.58px;
    }
}

.top-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #33588E;
    width: 3em;
    height: 3em;
}

.left-menu .sub-menu:hover, .left-menu .title-menu:hover{
    background: rgba(255, 255, 255, 0.1);
}

.left-menu .sub-menu{
    height: 4em;
}

hr {
    border: 0.5px solid rgba(255, 255, 255, 0.1);
}

#branding a {
    text-decoration: none;
    color: inherit;
}

#leftmenu a{
    color: inherit;
}

form .submit-row > input {
    background: #33588E;
    color: #fff;
}

.right-menu {
    position: absolute;
    right: 0;
    z-index: 10;
    background: #162533;
}

.select-theme {
    width: 80%;
}

.modal-back {
    width: 100vW;
    height: 100vH;
    z-index: 5;
    background: black;
    opacity: 0.2;
    position: absolute;
}

.md-app {
    max-height: 400px;
}

.md-app-drawer {
    width: 230px;
    max-width: calc(100vw - 125px);
}

.md-card {
    width: 16em;
    margin: 4px;
    display: inline-block;
    vertical-align: top;
}

.md-card-actions a {
    font-size: 0.7rem;
}